main.calculator{
    width: 15rem;
    height: 25rem;
    background-color: #282128;
    border-radius: 2rem;
    padding: 2rem 1rem;
    margin: 0 3rem;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 0.8rem;
    box-shadow: 0 0.15rem 0.1rem 0 gray;
  }
  
  .brand_name{
    font-size: 1rem;
    color: white;
  }
  
  .first_name{
    font: bold;
  
  }
  
  .last_name{
    font-weight: bold;
  }
  
  button{
    border: none;
    outline: none;
    border-radius: 1.5rem;
    background-color: #896F8C;
    color: white;
    font: bolder 0.8rem sans-serif;
    box-shadow: 0 0.1rem 0 rgba(91, 92, 111, 1);
    transition: 0.2s ease-in;
  }
  
  button:hover{
    opacity: 0.8;
    cursor: pointer;
  }
  
  button:active{
    box-shadow: none;
    transform: scale(0.92);
  }
  
  .row{
    width: 81%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.8rem;
  }
  
  .row-third button{
    background-color: #A698AE;
    font-size: 0.8rem;
  }
  
  .row-second button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  
  .equals{
    grid-column: span 2;
  }
  
  .delete,
  .clear{
    background-color: #5D455F;
    font-size: 0.8rem;
    color: white;
  }
  
  .output_screen {
    grid-column: 1 / 0;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
    width: 13rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    text-align: right;
    font: bolder 1.5rem sans-serif;
    background-color: #ADA1AC;
    box-shadow: inset 0.1rem 0.2rem 0.1rem 0.2rem, inset 0.1rem 0.2rem 0.4rem 0.2rem;
  }